<ul>
  <li><%= link_to 'new', new_path %> </li>
<li>  <%= link_to 'all', all_path %> </li>
  <% @categories_all.each do |category| %>
    <li><%= link_to category.name, category_path(category.id) %>  </li>
    <% end %>

</ul>
