<table>
 <% @products_all.each do |product| %>
 <tr><h4><b><%= product.name%></b></h4></tr>
 <tr><p><%= image_tag product.productImage %></p></tr>
 <tr><h4><b><%= product.productPrice%></b></h4></tr>
 <!-- <tr><p><%= product.productDescription %></p></tr> -->
 <% end %>

</table>
