<h2>New Products</h2>

<table>
 <% @new_prods.each do |product| %>
 <tr><h4><b><%= product.productName%></b></h4></tr>
 <tr><p><%= image_tag product.productImage %></p></tr>
 <tr><p><%= product.productDescription %></p></tr>
 <% end %>
</table>
